body {
    margin: 0;
    font-size: 1.1rem;
  }
  * {
    box-sizing: border-box;
  }
  .wrapper {
    min-height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(114, 115, 32, 0.38) 0%,
      rgba(4, 255, 225, 0.36) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calculator {
    background: rgba(198, 192, 192, 0.506);
    backdrop-filter: blur(10px);
    width: 400px;
    color: black;
    padding: 2rem 1.5rem;
    border-radius: 5px;
  
    display: grid;
    gap: 1rem;
    position: relative;
  
    grid-template-areas:
      "display display display display"
      "ac c perc divide"
      "btn7 btn8 btn9 btnx"
      "btn4 btn5 btn6 minus"
      "btn1 btn2 btn3 plus"
      "btn0 btn0 dot equals";
  }
  
  .calculator div {
    height: 50px;
    /* width: 50px; */
    background: rgba(97, 84, 84, 0.58);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .calculator div.display {
    grid-area: display;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-family: 'Nunito', sans-serif;

  }
  .btn-ac {
    grid-area: ac;
  }
  .btn-c {
    grid-area: c;
  }
  .btn-perc {
    grid-area: perc;
  }
  .btn-divide {
    grid-area: divide;
  }
  .btn-7 {
    grid-area: btn7;
  }
  .btn-8 {
    grid-area: btn8;
  }
  .btn-9 {
    grid-area: btn9;
  }
  .btn-x {
    grid-area: btnx;
  }
  .btn-4 {
    grid-area: btn4;
  }
  .btn-5 {
    grid-area: btn5;
  }
  .btn-6 {
    grid-area: btn6;
  }
  .btn-minus {
    grid-area: minus;
  }
  .btn-1 {
    grid-area: btn1;
  }
  .btn-2 {
    grid-area: btn2;
  }
  .btn-3 {
    grid-area: btn3;
  }
  .btn-plus {
    grid-area: plus;
  }
  .btn-0 {
    grid-area: btn0;
  }
  .btn-dot {
    grid-area: dot;
  }
  .btn-equals {
    grid-area: equals;
  }
  .circle{
    background: linear-gradient(to right, red, purple);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 60px;
    top: 250px;
  }
  